# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/

# Ruff
.ruff_cache/

# Build files
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db